<form method="post" action="/login">
    <div class="grid-item-1">
      <label for="username">Email:</label>
      <input type="text" id="username" name="email" required>
    </div>
    <div class="grid-item-2">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="grid-item-2">
      <button type="submit">Login</button>
    </div>
  </form>