<nav class="top-menu">
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/roles">Roles</a></li>
      <li><a href="/skills">Skills</a>
        <li><a href="/stories">Stories</a>
      <li><a href="/skillhierarchy">Skills Hierarchy</a></li>
      <li><a href="/">Home</a></li>
    </ul>
</nav>