<form action="/skill-list" method="get">
    <label for="jobtitle">Job Title:</label>
    <input type="text" name="jobtitle" id="jobtitle" required>
    <button type="submit">Submit</button>
  </form>