<!-- products.ejs -->

<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/menu') %>
    <h1>Roles</h1>
    <table class="striped-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% for (const role of roles) { %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
      </tr>
      <% } %>
  </table>
  </body>
</html>
