<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/SkillTest.css">
</head>
<body>
  <%- include('partials/menu') %>
  <div class="container">
    <h1>Skills Testing.</h1>
    <p class="centered">Conduct these tests without external reference material.<br><br>
    Whilst it may be tempting to cheat at this point, doing so will only create a scewed training program that wont be as effective as doing the traiing from memmory.<br><br>
    When you are ready, hit the begin button and you will be asked a series of multichoice questions.
    </p><br>
    <button id="begin">Begin</button>
  </div>
  <script>
    var getSkillsPort = "<%= getSkillsPort %>"
</script>
  <script src="/js/test-skills.js"></script>
  </body>
</html>