<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/menu') %>
    <ul>
      <% for (const user of users) { %>
        <li><%= user.name %></li>
      <% } %>
    </ul>
  </body>
</html>