body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #3781c6;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #3781c6;
}

h3 {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #3781c6;
}


h4 {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  color: #3781c6;
}

/*Now some div work*/

div{
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 0; /* Reset the min-height to allow the div to grow */
}

/* Form default styles */
form {
  border: 1px solid #3781c6;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 5px 10px;
  max-width: 80%;
  margin: 0 auto;
}

label, input {
  margin: 5px;
  color: #3781c6;
}

input {
  border: 1px solid #3781c6;
  border-radius: 5px;
  padding: 5px;
}

button {
  border: 1px solid #3781c6;
  border-radius: 5px;
  background-color: #3781c6;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  grid-column: 2 / 3;
}

footer {
  text-align: center;
  margin-top: 5px;
  font-size: 8px;
  font-weight: bold;
  color: #3781c6;
}


li {
  color: #002967;
  font-size: 12px;
}

p {
  color: #002967;
  font-size: 12px;
}
/* Some positions

Dont forget to set position relative to the holding element*/
.button-holder {
  position:relative;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 18px; 
}

/* Style the navigation menu */
nav {
  background-color: #002967;
  color: #ffffff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  margin: 14px 16px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #aaa;
  color: #000;
}

/* Table Striping */
table {
  border-collapse: collapse;
  width: 100%;
}

table td, .striped-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: small;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

div.scrollable {
  overflow-y: scroll;
  max-height: calc(1.2em * 25);
}

.bold {
  font-weight: bold;
}

.story_table
{
border-collapse: collapse;
  width: 100%;
}

.story_table th {
  border: 1px solid #ddd;
  font-size: small;
}

.story_table td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.story_table td img {
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
}

.multiline-text {
  white-space: pre-wrap;
  display: inline-block;
  padding: 5px;
  line-height: 1;
}